body {
    margin: 0;
    text-align: center;
    font-family: 'Kanit', sans-serif;

}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 1;

}

h2 {
    font-family: 'Righteous', cursive;
    font-size 2.5rem;
    margin : 0 auto 0 auto;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Righteous', cursive;
    color: #11999E;
    margin : 0 auto 0 auto;

}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {
    background-color: #66BFBF;
    color: #EAF6F6
}

.pro {
    text-decoration: underline;
}

.coding-3 {
    position: absolute;
    left: 300px;
    bottom: 350px;
    width: 8%;

}

.coding-2 {
    position: absolute;
    right: 300px;
    top: 90px;
    width: 8%;

}

.skill-img {
    width: 8%;

}

.phyton-img {
    width: 25%;
    float: left;
    margin-right: 10px;
    margin-bottom: 50px;

}

.java-img {
    width: 25%;
    float: right;
    margin-left: 1px;
    margin-bottom: 5px;
}

.contact-img {
    width: 5%;
    margin: 0
}

.bottom-container{
    color: 11999E;
    margin-top : 20px;
}

.skill-row {
    margin: auto;
    width: 50%;
    text-align: left
}


.hr1 {
    position: static;
    clear: right;

}

.btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #a6a644;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #243978;
  text-decoration: none;
}

.footer-link {
  color: #EAF6F6
}